p {
    word-wrap: break-word; 
    z-index: 200; 
}

a {
    text-decoration: none !important;
    color: #000;
}

a:hover {
    color: #000;
}

.container-fluid {
    /* position: relative; */
    padding-top: 70px;
    padding-bottom: 60px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}

#compose-btn a {
    background-color: #1abc9c;
    color: #fff;
    border-radius: 2px;
}

#compose-btn a:hover {
    color: #000 !important;
}

#home-post-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 1px solid #1abc9c;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  width: 60rem;
  height: auto;
  margin-bottom: 20px;
  /* background-color: chartreuse; */
  z-index: 10;
}

#home-post-container.no-image {
  height: 50rem;
}

#home-post-body-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 40px;
  width: 60rem;
  height: 20rem;
  /* background-color: antiquewhite; */
  margin-bottom: 5rem;
  border: 1px solid #1abc9c;
  border-top: none;
  border-radius: 0 0 5px 5px;
  word-break: break-all;
  padding: 1rem;
}

#post-container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 5px;
    width: 100%; 
    height: 150vh;
    /* margin-bottom: 20px;  */
    z-index: 100;
    /* padding: 3rem; */
    text-align: justify;
    /* border: 1px solid #000; */
    /* background-color: antiquewhite; */
}

 #post-container.no-image {
    height: 100%;
} 

/* #post-body-container.full {} */ 

#post-image {
    position: absolute;
    top: 5%;
    width: 100%;
    height: 50%;
    /* max-height: 50%; */
    /* min-height: 50%; */
}

#post-title {
    position: absolute;
    top: 0;
    margin: auto;
    height: auto;
    /* left: calc(100vw/2px); */
}

#post-body-container {
    position: absolute;
    /* top: 10rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 10px; */
    width: 100%;
    height: 40%;
    /* min-height: 40%; */
    max-height: 70%;
    bottom: 0;
    margin-bottom: 20px;
    /* background-color: aqua; */
    z-index: 100;
    word-wrap: break-word;
    /* overflow-y: auto; */
    /* border: 1px solid #000; */
    /* padding: 3rem; */
}

#post-body {
    position: absolute;
    width: 95%;
    height: 95%;
    max-height: 100%;
    /* top: auto; */
    /* max-block-size: 20ch; */
    /* margin-top: auto; */
    /* bottom: 5rem; */
    /* font-size: 0.5rem; */
}

#post-delete-btn {
    position: absolute;
    right: 15rem;
    bottom: -51rem;
    background-color: transparent; 
    border: 1px solid #000;
    border-radius: 3px;
    padding: 10px;
    z-index: 999;
    margin: auto;
}

#post-delete-btn:hover {
    background-color: #1abc9c;
}

#edit-post-image {
    position: relative;
    /* width: auto; */
    height: auto;
    background-color: antiquewhite;
}

#delete-img-btn {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 10px;
    background-color: whitesmoke; 
    border: none;
}

#delete-img-btn:hover {
    color: #1abc9c;
    background-color: #000;
}

#home-post-edit-btn {
    position: absolute;
    left: 0;
    top: 0;
    background-color: transparent; 
    border: none;
    border-radius: 3px;
    padding: 10px;
    z-index: -1;
}

#home-post-delete-btn {
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent; 
    border: none;
    border-radius: 3px;
    padding: 10px;
    z-index: -1;
}

#home-post-delete-btn:hover {
    background-color: #000;
    /* border: 1px solid #1abc9c; */
}

#home-post-delete-btn a {
    color: #1abc9c;
    font-size: 1.7rem;
    font-weight: bold;
    text-decoration: none;
}

.like-container {
    position: absolute;
    bottom: 10px;
    left: 15px;
    z-index: 9999;
}

#like-form {
    display: inline;
}

.like_btn {
    padding: 0.7rem 1rem;
    color: #1abc9c;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: transparent;
    transition: 0.3s ease;
}

.like_btn:hover {
    border-radius: 10px 5px;
    background-color: #000;
    transition: 0.3s ease;   
}

.footer {
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #1abc9c;
    z-index: 99999;
}

.footer p {
    /* padding: 1rem; */
    margin-top: 25px;
    font-size: 15px;
    color: #fff;
}